body {
	font-family: "Itim", "sans-serif";
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
}

#head {
	text-align: center;
}

#select-cat img {
	height: 200px;
	border: 2px solid white;

}

#select-cat img:hover {
	border: 2px solid black;
	/*background-color: pink;*/

}

figure {
	display: inline-block;
	margin: 20px;
}