<!DOCTYPE html>
<html>

<head>
	<title>Meownagerie</title>
	<link rel="icon" href="/static/img/favicon.ico">
	<link rel="stylesheet" href="static/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet' type='text/css'>

</head>

<body>
	<div id="head">
		<h1>Meownagerie</h1>
		<p>Choose a cat to see a Meownagerie of their breed.</p>
		<div id="select-cat">
			
			<figure><a href="#"><img src="static/img/norwegianforestcat.png"></a>
				<figcaption>Norwegian Forest Cat</figcaption>
			</figure>
			<figure><a href="#"><img src="static/img/scottishfold.png"></a>
				<figcaption>Scottish Fold</figcaption>
			</figure>
			<figure><a href="#"><img src="static/img/bengal.png"></a>
				<figcaption>Bengal</figcaption>
			</figure>
		</div>
	</div>
</body>

</html>